*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, arial , sans-serif;
    background-color: rgb(209, 157, 157);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.Cabecalho-principal{
    background-color: rgb(202, 241, 241);
    border-bottom: 5px solid ;
    padding: 14px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo h1{
    font-size: 20px;
    color: rgb(0, 0, 0);
    letter-spacing: 0.5px;

}
.secao-catologo{
    align-items: center;
    
}
.menu-navegacao{
    list-style:none;
    display: flex;
    gap: 25px;
    align-items: center;
}
.menu-navegacao a{
    list-style:none;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 500;
}
.menu-navegacao a:hover,
.menu-navegacao a.link-inicial{
    color: #e71313;
}
.link-login{
    background-color: #fffdfd;
    color: white;
    padding:  6px 14px;
    border-radius: 5px;
}
.link-login:hover{
    background-color: #ffffff;
}
.conteudo{
    max-width:  960px;
    margin: 32px auto;
    flex: 1;
    width: 100%;
}
.secao-principal{
    background-color: #fcfcfc;
    border: 1px solid #f0aeae;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 32px;

}
.secao-principal h2{
    font-size:22px;
    margin-bottom: 10px ;
    color: black;
}
.secao-principal a{
    display: inline-block;
    background-color: #257679;
    color: #fcfcfc;
    text-decoration: none;
    font-weight: 600;
    font-size: 33px;
    font-size: 14px;
    padding: 10px;
    border-radius: 6px;
}
.secao-catologo{
    margin-bottom: 10px;

}
.secao-catologo h3{
    font-size: 10px;
    color: #257679;

}
.titulo-catalogo{
    margin-bottom:14px; 

}
.titulo-catalogo h2{
    font-size: 22px;
    color: black;
}
.titulo-catalogo p{
    font-size: 14px;
    color: #257679;
}
.grade{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}
.card{
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
